doctype html
html
  head
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title QuickShow Decorating 
    link(rel="stylesheet" type="text/css" href="css/header.scss")
    link(rel="stylesheet" type="text/css" href="css/decorator.scss")
    script(src="single.js")
  body
    include snippets/header.pug
    main
      section.decorating.phase
        aside.tool-box
        section#qs-working-area.work-area
        #qs-more-slide.add-slide
    nav.steps
      a#save-button.save.step(onClick="save(this)") SAVE
      a#next-button.edit.step(href="/edit") EDIT
    script(src="decorator.js")
