-
  var slide_no = 0;
  var elem_no = 0;
mixin text(elem)
  - var Role = elem.role.charAt(0).toUpperCase() + elem.role.slice(1);;
  - var textclass = "slide-element " + elem.role + "-element";
  div(class=textclass data-role=elem.role data-type=elem.type)
    .element-type.text-style
      .text-style-selected(onclick='selectElemRole(event, "text")') #{Role}
    input(class=elem.role+" "+elem.type id="elem-"+elem_no type="text" placeholder="Text" value=elem.text onkeypress="keypressHandler(event)", onblur="updateText(event)")
mixin link(elem)
  - var Role = elem.role.charAt(0).toUpperCase() + elem.role.slice(1);;
  - var textclass = "slide-element " + elem.role + "-element";
  div(class=textclass data-role=elem.role data-type=elem.type)
    .element-type.text-style
      .text-style-selected(onclick='selectElemRole(event, "text")') #{Role}
    input(class=elem.role+" "+elem.type id="elem-"+elem_no type="text" placeholder="Text" value=elem.text onkeypress="keypressHandler(event)", onblur="updateText(event)")
mixin block(elem)
  p= elem.text
mixin stack(elem)
  p= elem.text
mixin table(elem)
  p= elem.text
mixin slide(elem)
  - var slideID = `slide-${slide_no}`;
  - var wrapperID = `element-wrapper-${slide_no}`;
  - var toolID = `qs-more-element-${slide_no}`; 
  .slide(id=slideID)
    .slide-elements(id=wrapperID)
      each e in elem.content
        case e.type
          when "text": +text(e)
          when "list": +stack(e)
          when "code": +block(e)
          when "table": +table(e)
          when "graph": +link(e)
          when "pictures": +link(e)
          when "video": +link(e)
        - elem_no++;
    .add-element(id=toolID)
      #qs-add-text.new-elem-icon(title="Text", onclick='content("Paragraph", "text", "Text", this.parentElement.previousElementSibling)')
      #qs-add-list.new-elem-icon(title="List", onclick='content("Bullet", "stack", "List Item", this.parentElement.previousElementSibling)')
      #qs-add-code.new-elem-icon(title="Code", onclick='content("HTML", "block", "Code Here", this.parentElement.previousElementSibling)')
      #qs-add-table.new-elem-icon(title="Table", onclick='content("Table", "table", "", this.parentElement.previousElementSibling)')
      #qs-add-graph.new-elem-icon(title="Graph", onclick='content("Graph", "link", "Query URL", this.parentElement.previousElementSibling)')
      #qs-add-pictures.new-elem-icon(title="Pictures", onclick='content("Picture", "link", "Picture URL", this.parentElement.previousElementSibling)')
      #qs-add-video.new-elem-icon(title="Video", onclick='content("Video", "link", "Video URL", this.parentElement.previousElementSibling)')
  - slide_no++;
doctype html
html
  head
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title 📝#{doc} - QuickShow
    link(rel="stylesheet" type="text/css" href="css/header.scss")
    link(rel="stylesheet" type="text/css" href="css/editor.scss")
    script(src="single.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js")
  body
    include snippets/header.pug
    main
      section.drafting.phase
        #doc-info(data-socketwise=socketwise data-doc=doc)
        aside.tool-box
          .recover.tool
            #recover-recently-deleted.action.disabled(title="Recover Recently Deleted Item")
        section#qs-working-area.work-area
          each s in slide.slides
            +slide(s)
        #qs-more-slide.add-slide
    nav.steps
      a#save-button.save.step(onClick="save(this)") SAVE
      a#next-button.decorate.step DECORATE!
    script(src="editor.js")
