mixin banner (bg, title, desc, text, dest)
  .banner
    .picture(style=bg[2])
      img.left(src=bg[0])
      img.right(src=bg[1])
    .text
      .title= title 
      .description= desc
      if dest
        a(href=dest)= text
      else
        button.register= text

mixin anchor-img (vendor, link, img)
  a(href=link title=vendor)
    img(src=img)
-
  var regemail = (err.reg)? err.leftover.email : "";
  var logemail = (err.log)? err.leftover.email : "";
doctype html
html
  head
    meta(name="viewport" content="width=device-width, initial-scale=1")
    if err.problem
      title #{err.msg} - QuickShow
    else
      title QuickShow - Make Slide Quick
    link(rel="stylesheet" type="text/css" href="css/header.scss")
    link(rel="stylesheet" type="text/css" href="css/intro.scss")
    script(src="single.js")
    script(src="single.a.js")
    script(src="smoothscroll.js")
    script(src="intro.js")
    script(async defer crossorigin="anonymous" src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v6.0&appId=193966311688168")
  body
    include snippets/header.pug
    noscript This site uses JavaScript very heavily to do everything you need to do on this site, so turn on JavaScript or switch your browser to one that supports JavaScript.
    main
      section.billboard
        if user
          +banner(["", ""], 'We know why you came back', 'Here, click the button will make you a new presentation, right now.', 'Do it!', '/docs')
          +banner(["", ""], 'Do you know?', 'You can invite friends to work on the same document as you do at the same time? That is some revolutionary technology right here.', 'Open my documents', '/docs')
          +banner(["", ""], 'Pzzzzzzzz!', "Hey, you! You, the person who's reading this. Don't tell anyone, but if you can get 10 people to pay for our premium tier ($9.99/mo), you'll get to use our premium tier for free as long as you still have 10 paying clients.", "Sorry, this is not available right now", "sorry")
        else
          +banner(["", ""], 'Need to make a quick presentation?', "Here, it'll take you just a few minutes from now to finish (depending on your content). Just add your data, and let us take care of the rest.", "Yes! I'm in hurry.")
          +banner(["", ""], 'Not enough? Okay, we can do cool tricks.', "Like what? Animated background? Super-sharp graphics? Auto-arrange all of your stuff? Live graph? Come on, what else do you want?", "Show me what you got!")
          +banner(["", ""], "Not convinced yet? I'll cut you a deal", "The app is available for free and that's a great price! *cue the music*", "Use for $Free.99!")
          +banner(["", "assets/wacky-promo/duo-card.png", ""], "What are you doing here?", "Just click the button already, or I'll summon Duo the geen owl.", "Please don't")
    section#block(class=err.block)
      if err.svr
        #popup-error
          if err.problem == 'servererror'
            .err-msg
              h1 We're so Sorry
              p please report this error to us, and describe what happen. We'll try to fix it as soon as possible
          else if err.problem == 'loggedout'
            img(src="/assets/hd/401.svg")
            .err-msg
              h1 You're logged out
              p If you were trying to access our tool, please log in again.
              a.login.kindly-login login
          else if err.problem == 'forbidden'
            img(src="/assets/hd/403.svg")
            .err-msg
              h1 You don't have permission to access this
              p If you were trying to access a document on our platform, please ask the document owner to grant you access
          else if err.problem == 'missingpage'
            .err-msg
              h1 Whoops!
              p Seems like something is missing. I believe Thanos just snapped his finger.
      #popup-register(class=err.reg? err.problem : "")
        form#register
          .kindly-advice 
            .words For security reasons, we recommend you using password manager to generate random password for you
            .choices
              +anchor-img("1Password", "https://1password.com", "assets/1pass.png")
              +anchor-img("LastPass", "https://www.lastpass.com", "assets/lastp.png")
              +anchor-img("Dashlane", "https://www.dashlane.com", "assets/dashl.png")
          .kindly-login I already have an account.
          #user-name.input.text
            label(for="uname") Your Name
            input#uname(type="text" value=err.leftover.name)
          #user-contact.input.text
            label(for="contact") Email
            input#contact(type="text", name="email", value=regemail)
          #user-pass.input.text
            label(for="pass") Create Password
            input#pass(type="password", name="password")
          #user-cpass.input.text
            label(for="cpass") Confirm Password
            input#cpass(type="password", name="confirm-password")
          #user-agree.input
            input#agree(type="checkbox")
            label(for="agree")
              | I agree to 
              a(href="/legal") Terms and Conditions
              | .
          button#register-done.done Done!
        form#login(class=err.log? err.problem : "")
          .kindly-register I don't have an account.
          #user-identity.input.text
            label(for="identity") email or username
            input#identity(type="text", value=logemail)
          #user-phrase.input.text
            label(for="magic") password
            input#magic(type="password")
          #user-owned.input
            input#owned(type="checkbox")
            label(for="owned") I own this device.
          #user-owned.input
            input#keep(type="checkbox" disabled)
            label(for="keep") Keep me logged in.
          button#login-done.done Go!
          p or
          a#oauth-twitter.oauth.button(href="/twitter")
            img(src="assets/hd/twitter.svg")
            p Sign in with Twitter
          a#oauth-facebook.oauth.button.fb-login-button(href="/facebook")
            img(src="assets/hd/facebook.svg")
            p Continue with Facebook
