-
  var hasDocs = docs.length > 0
doctype html
html
  head
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title 📁#{user.name} - QuickShow
    link(rel="stylesheet" type="text/css" href="css/header.scss")
    link(rel="stylesheet" type="text/css" href="css/library.scss")
    script(src="single.js")
    script(src="library.js")
  body
    include snippets/header.pug
    main
      section.library
        a#new-doc.new-doc New Slideshow
        .collection
          if hasDocs
            each doc in docs
              - var url = `/edit?owner=${encodeURIComponent(user.email)}&document=${encodeURIComponent(doc.name)}`
              a.document(href=url)
                p= doc.name
                if doc.sharedWith
                  p.shared shared
          else
            #empty.empty-collection You Don't Have Any Slideshows
        #qs-user-email(data-email=user.email)
