doctype html
html
  head
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title PressurePoint - Test ForceTouch API
    link(rel="stylesheet" type="text/css" href="css/pp.scss")
    script(src="single.js")
  body
    .touch.visualizer
      .button
      .text
      .decoration
    script(src="pp.js")
