-
  var edit = (doc)? true : false;
header
  .header-wrapper
    if edit
      #doc-nav.header-item
        if user
          a#back-to-library(href="/docs")
            img(src="assets/folder.svg")
          input(type="text", value=doc)
    #branding.header-item
      .logo
        img(src="assets/logo.svg")
        img.spinner(src="assets/icon-r.svg")
    #misc.header-item
      if user
        #connection
        .user-profile(data-name=user.name data-id=user.id data-email=user.email)
          #account-settings.acc-settings
            .profile
              p=user.name
              img(src=user.avatar)
            .settings
              a(href="/logout") Sign out
              a(href="/preferences") Preferences
        if edit
          .share
          .present
      else
        a.login Login
  //- script(src="header.js")
