:root{
  --icon-text: url(/assets/black/text.png);
  --icon-list: url(/assets/black/list.png);
  --icon-code: url(/assets/black/codeblock.png);
  --icon-table: url(/assets/black/table.png);
  --icon-graph: url(/assets/black/graph.png);
  --icon-picture: url(/assets/black/picture.png);
  --icon-video: url(/assets/black/video.png);
}
@media screen and (prefers-color-scheme: dark) {
  :root{
    --icon-text: url(/assets/white/text.png);
    --icon-list: url(/assets/white/list.png);
    --icon-code: url(/assets/white/codeblock.png);
    --icon-table: url(/assets/white/table.png);
    --icon-graph: url(/assets/white/graph.png);
    --icon-picture: url(/assets/white/picture.png);
    --icon-video: url(/assets/white/video.png);
  }
}
@mixin sized($width: 100%, $height: 100%) {
  width: $width;
  height: $height;
}
@mixin place($top: 0, $left: 0) {
  top: $top;
  left: $left;
}
@mixin flex($grow, $shrnk, $basis) {
  flex-grow: $grow;
  flex-shrink: $shrnk;
  flex-basis: $basis;
}
@mixin min($w, $h: unset) {
  min-width: $w;
  min-height: $h;
}
@mixin max($w, $h: unset) {
  max-width: $w;
  max-height: $h;
}
@mixin round($rad) {
  border-radius: $rad;
}
@mixin pseudo {
  content: "";
  position: absolute;
}
@mixin elemWrap {
  box-sizing: border-box;
  width: 100%;
  background: transparent;
  border-radius: 6px;
  border: 1px solid var(--slide-f);
  padding: 0px 8px;
  color: var(--text);
  transition: background 0.3s;
}
@mixin inputFocus {
  outline: none;
  background: var(--slide-f);
}
$arrow-border: 4px solid;
::placeholder{
  color: var(--faint-text);
}
.slide{
  &:first-child{
    .repositioner .move-up{
      border-color: var(--faint-text);
      cursor: default;
      &:hover{
        opacity: 0.4;
      }
    }
  }
  &:last-child{
    .repositioner .move-down{
      border-color: var(--faint-text);
      cursor: default;
      &:hover{
        opacity: 0.4;
      }
    }
  }
}
.repositioner{
  position: relative;
  width: 28px;
  flex-shrink: 0;
  .move-up{
    border-top: $arrow-border;
    border-right: $arrow-border;
  }
  .move-down{
    border-bottom: $arrow-border;
    border-left: $arrow-border;
  }
  .move-up, .move-down {
    width: 6px;
    height: 6px;
    transform: rotate(-45deg) translateY(6px);
    transform-origin: top right;
    border-color: var(--text);
    opacity: 0.4;
    cursor: pointer;
    &:hover{
      opacity: 1;
    }
  }
}
section{
  &.phase{
    position: relative;
    width: 100%;
    padding-bottom: 25vh;
    aside{
    }
    section.work-area{
      .slide{
        @include max(640px);
        @include round(12px);
        box-sizing: border-box;
        margin: auto;
        padding: 12px;
        margin-top: 12px;
        background: var(--slide);
        &.removable{
          background: #f7454566;
          input, textarea {
            border-color: #e00000;
            color: #e00000;
            &::placeholder{
              color: #f7454566;
            }
          }
        }
        .slide-element{
          position: relative;
          display: flex;
          &.table-element{
            margin: 4em !important;
            .table-sizinator {
              position: absolute;
              top: 0;
              padding: 0;
              width: 100%;
              height: 100%;
              z-index: 0;
              background: transparent;
              overflow: visible;
              .row-sizinator {
                position: absolute;
                @include place(100%, 50%);
                @include sized(100px, 2em);
                margin: 1em 0px;
                margin-left: -50px;
                background: var(--background);
                border-radius: 1em;
                &::before{
                  @include place(0, 50%);
                  margin-top: 4px;
                  transform: rotate(45deg);
                }
              }
              .col-sizinator {
                position: absolute;
                @include place(50%, 100%);
                @include sized(2em, 100px);
                margin: 0px 1em;
                margin-top: -50px;
                background: var(--background);
                border-radius: 1em;
                &::before{
                  @include place(50%, 0);
                  margin-left: 4px;
                  transform: rotate(-45deg);
                }
              }
              .col-sizinator, .row-sizinator {
                &::before {
                  @include pseudo;
                  @include sized(8px, 8px);
                  border: 6px solid var(--faint-text);
                  border-top: none;
                  border-left: none;
                  transform-origin: top left;
                }
                &:hover::before{
                  border-color: var(--text);
                }
              }
              .detonator{
                position: absolute;
                @include place();
                @include sized();
                z-index: 0;
                .row-detonator{
                  position: absolute;
                  top: 0;
                  right: 100%;
                  @include sized(2em, 100%);
                  margin-right: 1em;
                }
                .colm-detonator {
                  position: absolute;
                  bottom: 100%;
                  left: 0;
                  @include sized(100%, 2em);
                  margin-bottom: 0.6em;
                  display: flex;
                  justify-content: space-around;
                }
              }
            }
          }
          .table {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            z-index: 1;
            tr {
              display: flex;
              flex-wrap: nowrap;
              th, td {
                width: 100%;
                border-right: 1px solid var(--faint-text);
                border-bottom: 1px solid var(--faint-text);
                padding: 0;
                overflow: hidden;
                input{
                  border: none;
                  margin: 0;
                  box-sizing: border-box;
                  border-radius: 0px;
                  text-overflow: ellipsis;
                  padding-right: 0;
                }
                input:focus{
                  background: var(--faint-text);
                }
              }
              th{
                background: var(--slide-f);
              }
              th:first-child, td:first-child{
                border-left: 1px solid var(--faint-text);
              }
            }
            tr:first-child{
              th, td{
                border-top: 1px solid var(--faint-text);
              }
              th:first-child, td:first-child{
                border-top-left-radius: 6px;
              }
              th:last-child, td:last-child{
                border-top-right-radius: 6px;
              }
            }
            tr:last-child{
              th:first-child, td:first-child{
                border-bottom-left-radius: 6px;
              }
              th:last-child, td:last-child{
                border-bottom-right-radius: 6px;
              }
            }
          }
          .stack{
            position: relative;
            width: 100%;
            input{
              padding: 6px 8px;
              &.removable{
                background: #f7454566;
                border-color: #e00000;
                color: #e00000;
                &::placeholder{
                  color: #f7454566;
                }
              }
            }
            .list-item{
              display: flex;
            }
            .add2stack{
              position: relative;
              height: 1.8em;
              width: 100%;
              padding: 0.4em 24px;
              font: 500 1em sans-serif;
              color: var(--faint-text);
              box-sizing: border-box;
              background: var(--slide-f);
              border-radius: 6px;
              display: flex;
              justify-content: space-between;
              &:hover{
                background: var(--faint-text);
                color: var(--text);
                &::before, &::after{
                  background: var(--text);
                }
              }
              &::before{
                @include pseudo;
                @include place();
                @include sized(14px, 3px);
                @include round(3px);
                border-radius: 3px;
                margin: 12.5px 5px;
                background: var(--faint-text);
              }
              &::after{
                @include pseudo;
                @include place();
                @include sized(3px, 14px);
                @include round(3px);
                margin: 7px 10.5px;
                background: var(--faint-text);
              }
            }
          }
          .detonate {
            position: relative;
            @include sized(1.6em, 1.6em);
            background: var(--background);
            border-radius: 0.8em;
            margin: 5.4px;
            margin-top: 4px;
            &::before{
              @include pseudo;
              @include place(calc(50% - 2px), 25%);
              @include sized(50%, 4px);
              background: var(--faint-text);
            }
            &:hover{
              background: #f00a;
              &::before{
                background: var(--text);
              }
            }
          }
        }
        .slide-element + .slide-element{
          margin-top: 1em;
        }
        input {
          @include elemWrap;
          &.text{
            &.title{
              font: 700 2em serif;
            }
            &.subtitle{
              font: 700 1.2em serif;
            }
            &.heading{
              font: 600 1.6em serif;
            }
            &.paragraph{
              font: 400 1em serif;
            }
            &.caption{
              font: 400 0.8em sans-serif;
            }
            &.disclaimer{
              font: 300 0.6em sans-serif;
            }
          }
          &:focus{
            @include inputFocus;
          }
          &.text, &.list{
            padding: 6px;
            font-size: 1em;
          }
        }
        textarea{
          @include elemWrap;
          padding: 8px;
          resize: none;
          &.code{
            font: 500 1em monospace;
            line-height: 1.6em;
          }
          &:focus{
            @include inputFocus;
          }
        }
        .add-element{
          position: relative;
          width: 100%;
          margin-top: 12px;
          display: flex;
          justify-content: flex-start;
          flex-wrap: nowrap;
          .new-elem-icon{
            position: relative;
            width: 36px;
            height: 36px;
            margin-right: 12px;
            opacity: 0.4;
            background-size: contain;
            background-position: center;
            background-clip: content-box;
            background-repeat: no-repeat;
            cursor: pointer;
            &:hover{
              opacity: 1;
            }
            &#qs-add-text{
              background-image : var(--icon-text);
            }
            &#qs-add-list{
              background-image: var(--icon-list);
            }
            &#qs-add-code{
              background-image: var(--icon-code);
            }
            &#qs-add-table{
              background-image: var(--icon-table);
            }
            &#qs-add-graph{
              background-image: var(--icon-graph);
            }
            &#qs-add-pictures{
              background-image: var(--icon-picture);
            }
            &#qs-add-video{
              background-image: var(--icon-video);
              transform-origin: center;
              transform: rotate(0deg);
              &:hover{
                animation: spin 2s linear infinite;
              }
            }
          }
        }
      }
    }
    .add-slide {
      width: 48px;
      height: 48px;
      background: var(--slide);
      position: relative;
      margin: 12px auto;
      border-radius: 24px;
      &::before{
        @include pseudo;
        @include sized(28px, 6px);
        @include round(3px);
        margin: 21px 10px;
        background: var(--faint-text);
      }
      &::after{
        @include pseudo;
        @include sized(6px, 28px);
        @include round(3px);
        margin: 10px 21px;
        background: var(--faint-text);
      }
      &:hover{
        background: var(--slide-f);
        &::before{
          background: var(--text);
        }
        &::after{
          background: var(--text);
        }
      }
    }
  }
}
.blocker{
  position: fixed;
  @include place();
  @include sized(100vw, 100vh);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  background-color: #000a;
}
.prompt {
  position: relative;
  left: 0;
  max-width: 640px;
  width: calc(100vw - 24px);
  margin: auto;
  background: var(--background);
  border-radius: 6px;
  padding: 12px;
  box-sizing: border-box;
  box-shadow: 0px 10px 20px #0008;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border: 1px solid var(--slide);
  .notice{
    position: absolute;
    bottom: calc(100% + 1em);
    h1, p{
      color: #fff;
      font-family: sans-serif;
    }
  }
  &.document-name{
    top: calc(50% - 2.15em - 25px);
  }
  label {
    color: var(--text);
    font: 300 0.8em sans-serif;
  }
  input {
    color: var(--text);
    background: transparent;
    border: 1px solid var(--slide);
    border-radius: 4px;
    display: block;
    width: 100%;
    font: 500 1em sans-serif;
    padding: 6px;
    box-sizing: border-box;
    margin-top: 0.5em;
    &:focus{
      outline: none;
      background-color: var(--slide);
    }
  }
  button {
    background-color: var(--faint-text);
    border: none;
    border-radius: 4px;
    font: 500 1em sans-serif;
    padding: 6px 12px;
    margin-top: 0.5em;
    &:hover{
      background-color: var(--text);
    }
    &.default{
      background-color: var(--accent);
      color: var(--accent-complement);
      &:hover{
        background-color: var(--accent-glow);
      }
      &:disabled{
        background-color: var(--accent-rot);
        color: var(--accent-rot-complement);
      }
    }
  }
}
.element-type{
  width: 100px;
  font: 400 1em sans-serif;
  text-overflow: ellipsis;
  overflow-x: hidden;
  background: var(--background);
  color: var(--text);
  padding: 0.4em 0px;
  align-self: center;
  border-radius: 6px;
  margin-right: 6px;
  cursor: pointer;
  select{
    color: var(--text);
    font: 500 1em sans-serif;
    border: none;
    background: transparent;
    width: 100%;
  }
  .text-style-selected, .list-style-selected, .code-style-selected{
    padding: 0em 0.4em;
  }
  .text-style-item, .list-style-item, .code-style-item{
    padding: 0.2em 0.4em;
    text-overflow: ellipsis;
    overflow-x: hidden;
    &.selected {
      background: var(--ctx-o);
      color: var(--ctx-ot);
    }
    &:hover{
      background: var(--ctx-x);
      color: var(--ctx-xt);
    }
  }
  &.open{
    position: absolute;
    top: 2px;
    left: 0px;
    z-index: 1;
    background-color: var(--ctx);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    box-shadow: 0px 0px 10px #000;
  }
}
aside.tool-box {
  position: fixed;
  top: 48px;
  left: 0;
  width: calc((100vw - 640px) / 2);
  height: calc(100vh - 48px - 5em);
  margin-top: 1em;
  padding: 0 1em;
  box-sizing: border-box;
  z-index: 0;
  .tool{
    display: flex;
    div{
      margin-right: 1em;
    }
  }
  .deleted-items {
    position: relative;
    padding: 0.55em 1em;
    background-color: var(--slide-f);
    border-radius: 24px;
    color: var(--text);
    font: 500 1em sans-serif;
  }
  .action{
    position: relative;
    @include sized(36px, 36px);
    background-color: var(--slide-f);
    border-radius: 24px;
    cursor: pointer;
    &:hover{
      background-color: var(--accent);
    }
    &.disabled{
      background-color: var(--slide);
      cursor: default;
      --text: var(--faint-text);
    }
  }
  #recover-recently-deleted{
    &::before {
      @include pseudo;
      @include sized(20px, 20px);
      top: 12px;
      left: 9px;
      border: 0 solid transparent;
      border-top: 6px solid var(--text);
      border-radius: 10px 20px 0 0;
    }
    &::after {
      @include pseudo;
      @include sized(0, 0);
      top: 12px;
      left: -1px;
      border: 8px solid transparent;
      border-right: 8px solid var(--text);
      transform: rotate(-30deg);
    }
  }
}
.slide-element.removable{
  input, textarea{
    background: #f7454566 !important;
    color: #e00000 !important;
    border-color: #e00000 !important;
    &::placeholder{
      color: #f7454566 !important;
    }
  }
}
@keyframes spin {
  0%{transform: rotate(0deg);}
  100%{transform: rotate(360deg);}
}
@keyframes flash {
  0%{opacity: 0.6;}
  50%{opacity: 1;}
  100%{opacity: 0.6;}
}
@media screen and (max-width: 920px) {
  nav{
    background: var(--header);
    pointer-events: auto;
  }
}
@media screen and (max-width: 810px) {
  aside.tool-box {
    position: fixed;
    top: 54px;
    left: 0;
    width: 100%;
    height: 52px;
    margin-top: 0.4em;
  }
  section.phase {
    top: 54px;
    section.work-area {
      .slide{
        max-width: calc(100vw - 24px);
        .slide-element{
          display: block;
        }
      }
    }
  }
}
