:root{
  --background: #e4e4e4;
  --header: #ffffff;
  --text: #0f0f0f;
  --faint-text: #b0b0b0;
  --link: #4e2974;
  --link-h: #652f9d;
  --link-v: #36214b;
  --accent: #682ba6;
  --accent-glow: #7d30cb;
  --accent-complement: #ffffff;
  --accent-rot: #9685a7;
  --accent-rot-complement: #6e617a;
  --accent-light: #ded1ec;
  --slide: #f0f0f0;
  --slide-f: #ffffff;
  --ctx: #fff6;
  --ctx-o: #333;
  --ctx-ot: #f0f0f0;
  --ctx-x: #682ba6;
  --ctx-xt: #fff;
  --icon-present: url(/assets/black/present.png);
  --icon-share: url(/assets/black/share.png);
}
a{
  &:any-link{
    color: var(--link);
    &:hover{
      color: var(--link-h);
    }
    &:visited{
      color: var(--link-v);
    }
  }
}
@media screen and (prefers-color-scheme: dark) {
  :root{
    --background: #1a1a1a;
    --header: #0f0f0f;
    --text: #f0f0f0;
    --faint-text: #606060;
    --link: #946fb9;
    --link-h: #b294d0;
    --link-v: #685779;
    --accent: #682ba6;
    --accent-glow: #7d30cb;
    --accent-complement: #ffffff;
    --accent-rot: #31243d;
    --accent-rot-complement: #1c1422;
    --accent-light: #bbadca;
    --slide: #303030;
    --slide-f: #3e3e3e;
    --ctx: #0006;
    --ctx-o: #f0f0f0;
    --ctx-ot: #682ba6;
    --ctx-x: #682ba6;
    --ctx-xt: #fff;
    --icon-present: url(/assets/white/present.png);
    --icon-share: url(/assets/white/share.png);
  }
}
@mixin cornered($hedge: left, $vedge: top) {
  #{$vedge}: 0;
  #{$hedge}: 0;
}
@mixin sized($width: 100vw, $height: 100vh) {
  width: $width;
  height: $height;
}
body{
  margin: 0px;
  background: var(--header);
}
header{
  position: relative;
  box-sizing: border-box;
  z-index: 1;
  @include sized(100vw, 48px);
  @include cornered();
  .header-wrapper{
    position: fixed;
    background: var(--header);
    @include sized(100vw, 48px);
    @include cornered();
  }
  #doc-nav {
    max-width: calc(50vw - 26px);
    display: flex;
    z-index: 1;
    background: var(--slide);
    #back-to-library {
      height: 100%;
      display: flex;
      align-items: stretch;
      flex-wrap: nowrap;
      color: var(--faint-text);
      text-decoration: none;
      font-family: sans-serif;
      font-weight: 300;
      img{
        height: 100%;
      }
      &::after {
        content: "»";
        position: relative;
        display: block;
        top: 0;
        height: 100%;
        line-height: 36px;
        font-size: 2em;
      }
    }
    input[type="text"] {
      position: relative;
      top: 0;
      height: 100%;
      flex-shrink: 1;
      box-sizing: border-box;
      border: none;
      background: transparent;
      color: var(--text);
      font-size: 1em;
      text-overflow: ellipsis;
    }
  }
  .header-item {
    position: absolute;
    height: 100%;
    box-sizing: border-box;
    padding: 6px;
    &#branding{
      width: 100%;
      @include cornered();
      text-align: center;
      svg{
        fill: var(--accent);
      }
      .logo{
        position: relative;
        display: inline-block;
        width: 36px;
        height: 36px;
        transform: rotate(0deg);
        transition: transform 0.5s;
        img {
          position: absolute;
          top: 0;
          left: 0;
          height: 36px;
          &.spinner {
            opacity: 0;
            transition: opacity 0.5s;
          }
        }
        &.loading{
          animation: spin linear 1s infinite;
          .spinner{
            opacity: 1;
          }
        }
        &:hover{
          transform: rotate(15deg);
          .spinner{
            opacity: 0.3;
          }
        }
      }
    }
    &>div{
      margin-right: 6px;
      &:last-child{
        margin-right: 0px;
      }
    }
    .present{
      background-image: var(--icon-present);
      width: 36px;
      height: 36px;
      background-size: contain;
    }
    .share{
      background-image: var(--icon-share);
      width: 36px;
      height: 36px;
      background-size: contain;
    }
    .user-profile {
      position: relative;
      width: 36px;
      height: 36px;
      overflow: hidden;
      z-index: 1;
      .acc-settings{
        position: absolute;
        right: 0;
        min-width: 100px;
        display: flex;
        flex-flow: column wrap-reverse;
        border-radius: 6px 18px 6px 6px;
        box-shadow: 0px 10px 0px #0000;
        overflow: hidden;
        .profile{
          display: flex;
          flex-wrap: nowrap;
          justify-content: flex-end;
          align-items: center;
          p{
            width: 0;
            text-overflow: clip;
            color: var(--text);
            margin: 0;
            padding: 0px 12px;
          }
          img {
            width: 36px;
            height: 36px;
            border-radius: 50%;
          }
        }
        .settings{
          display: flex;
          flex-flow: column;
          a{
            position: relative;
            text-align: right;
            font-family: sans-serif;
            font-weight: 300;
            font-size: 0.8em;
            padding: 6px 12px;
            margin-top: 6px;
            text-decoration: none;
            color: var(--text);
            &:hover{
              background-color: var(--accent);
              color: var(--accent-complement);
            }
          }
        }
      }
      &:hover{
        width: unset;
        height: unset;
        overflow: visible;
        .acc-settings{
          background-color: var(--slide-f);
          box-shadow: 0px 10px 20px #0008;
          .profile{
            p{
              width: unset;
            }
          }
        }
      }
    }
    #connection{
      color: var(--faint-text);
      align-self: center;
      font: 300 1em sans-serif;
    }
    &#misc{
      @include cornered(right);
      display: flex;
      justify-content: flex-end;
      a.login{
        font-family: sans-serif;
        color: var(--text);
        padding: 6px 1em;
        border-radius: 1em;
        box-sizing: border-box;
        margin: auto;
        cursor: pointer;
        &:hover{
          color: var(--accent-complement);
          background: var(--accent);
        }
      }
    }
  }
}
nav.steps {
  position: fixed;
  bottom: 0;
  display: flex;
  width: 100vw;
  justify-content: space-between;
  pointer-events: none;
  a.step {
    padding: 0.6em 1em;
    background: var(--accent);
    color: var(--accent-complement);
    font-family: sans-serif;
    border-radius: 1.2em;
    margin: 1em;
    text-decoration: none;
    box-sizing: border-box;
    pointer-events: auto;
    &.disabled{
      background: var(--accent-rot);
      &:hover{
        background: var(--accent-rot);
        box-shadow: none;
      }
    }
    &:hover{
      background: var(--accent-glow);
      box-shadow: 0px 0px 10px var(--accent);
    }
  }
}
noscript {
  background: #f5e2a1;
  display: block;
  padding: 1em;
  border: 1px solid #eccb4a;
  font-family: sans-serif;
}
main{
  position: relative;
  top: 0;
  left: 0;
  box-sizing: border-box;
  width: 100vw;
  height: calc(100vh - 48px);
  background: var(--background);
  overflow-y: auto;
}
@media screen and (max-width: 920px) {
  main{
    height: calc(100vh - 4.3em - 48px);
  }
}
