.billboard {
  position: relative;
  top: 0;
  left: 0;
  width: 100vw;
  height: 40vw;
  overflow-x: scroll;
  display: flex;
  flex-flow: row nowrap;
  scroll-snap-type: x mandatory;
  &::-webkit-scrollbar {
    width: 0px;
    background: transparent;
  }
}
.banner {
  position: relative;
  flex: 0 0 100%;
  height: 100%;
  color: white;
  scroll-snap-align: center;
  .picture{
    position: absolute;
    width: 100%;
    height: 100%;
    img.right {
      height: 100%;
      position: absolute;
      right: 0;
    }
    img.left {
      height: 100%;
      position: absolute;
      bottom: 0;
      left: 0;
    }
  }
  .text{
    position: relative;
    height: auto;
    width: 40%;
    margin: auto;
    margin-top: 5%;
    margin-right: 50%;
    font-family: sans-serif;
    color: var(--text);
    .title{
      position: relative;
      height: auto;
      font-weight: 700;
      font-size: 5vmin;
    }
    .description{
      position: relative;
      height: auto;
      font-weight: 300;
      font-size: 1.8vmin;
      line-height: 2.4vmin;
      margin: 1em 0;
    }
    a, button{
      position: relative;
      background: white;
      color: black;
      padding: 0.6em 1em;
      font-size: 2vmin;
      text-decoration: none;
      box-sizing: border-box;
      border-radius: 1vmin;
      border: none;
      &:hover{
        background: var(--accent);
        color: #f0f0f0;
      }
    }
  }
}
#block{
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  background-color: #0000;
  overflow: hidden;
  backdrop-filter: blur(0px);
  -webkit-backdrop-filter: blur(0px);
  transition: background-color, -webkit-backdrop-filter, 0.3s;
  pointer-events: none;
  &.register, &.login, &.error {
    background-color: #0008;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    pointer-events: auto;
  }
  &.login{
    #popup-register{
      transform: translateY(-80vh);
      height: 30em;
      form{
        left: -100%;
      }
    }
  }
  &.register{
    #popup-register{
      transform: translateY(-82vh);
      height: 37em;
    }
  }
  &.error{
    #popup-error{
      transform: translateY(-100vh);
      opacity: 1;
    }
  }
  #popup-error{
    position: absolute;
    top: 100vh;
    height: 50vh;
    width: 100%;
    margin-top: 25vh;
    opacity: 0;
    transform: translateY(0);
    transition: transform 0.3s, opacity 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    img{
      position: relative;
      top: 0%;
      height: 100%;
      object-fit: contain;
    }
    .err-msg{
      position: relative;
      width: 540px;
      top: 0;
      background: #f0f0f0;
      border-radius: 6px;
      font-family: sans-serif;
      padding: 2em;
      box-sizing: border-box;
      pointer-events: auto;
    }
    h1{
      font-size: 3em;
      margin-top: 0;
      margin-bottom: 0;
      color: #0071e6;
    }
    p{
      margin-top: 0;
    }
  }
  #popup-register {
    position: relative;
    width: 320px;
    max-height: 80vh;
    top: 100vh;
    background: #f0f0f0;
    border-radius: 6px;
    font-family: sans-serif;
    margin: auto;
    display: flex;
    flex-flow: row nowrap;
    overflow-x: hidden;
    overflow-y: auto;
    transform: translateY(0);
    transition: transform 0.3s, height 0.3s;
    form{
      position: relative;
      left: 0%;
      flex: 0 0 100%;
      box-sizing: border-box;
      padding: 2em;
      transition: left 0.3s;
      .input {
        margin-top: 1em;
        label {
          position: absolute;
          line-height: 1em;
          padding: 0.8em;
          transform-origin: left;
          transform: scale(1) translate(0px, 0px);
          transition: transform 0.3s;
        }
        input {
          padding: 0.6em;
          padding-top: 1em;
          padding-bottom: 0.4em;
          border: none;
          font-size: 1em;
          box-sizing: border-box;
          width: 100%;
        }
        &.inserted{
          label {
            transform: scale(0.6) translate(2px, -15px);
          }
        }
        &#user-agree, &#user-owned{
          input,label{
            position: relative;
            line-height: inherit;
            padding: inherit;
            width: unset;
          }
        }
      }
      .done {
        padding: 1em;
        margin-top: 1em;
        width: 100%;
        box-sizing: border-box;
        background: #aaaaaa;
        color: #cccccc;
        border: none;
        border-radius: 4px;
        font: 500 1em sans-serif;
      }
      .oauth.button{
        position: relative;
        height: 2em;
        display: flex;
        color: #ffffff;
        border-radius: 4px;
        cursor: pointer;
        margin-bottom: 1em;
        text-decoration: none;
        &#oauth-twitter{
          background-color: #1da1f2;
        }
        &#oauth-facebook{
          background-color: #1877F2;
        }
        img{
          position: relative;
          height: 100%;
        }
        p{
          position: relative;
          flex: 1 1 100%;
          text-align: center;
          margin: auto;
        }
      }
      &#login{
        & > p{
          position: relative;
          text-align: center;
          color: #909090;
          font-weight: 300;
          &::before, &::after {
            content: "";
            position: absolute;
            top: calc(50% - 1px);
            width: calc(50% - 1em);
            border-top: 2px groove;
          }
          &::before{
            left: 0;
          }
          &::after{
            right: 0;
          }
        }
        &.wrongpassword, &.passwordchanged{
          label[for="magic"]{
            color: #ed0000;
          }
          input[type="password"]{
            border: 1px solid #ed0000;
          }
        }
      }
    }
    .kindly-advice{
      text-align: center;
      cursor: default;
      a img{
        width: 64px;
      }
    }
  }
  .kindly-login, .kindly-register {
    text-align: center;
    color: #fff;
    background-color: #333;
    border-radius: 4px;
    padding: 0.4em;
    cursor: pointer;
    &:hover{
      background-color: var(--accent);
    }
  }
}
@media screen and (max-width: 1024px) {

}
