header .header-item#branding{
  text-align: left;
  margin-left: 1em;
}
section.library {
  position: relative;
  top: 0;
  left: 0;
  width: 640px;
  margin: 1em auto;
  background: #fefefead;
  border-radius: 4px;
  padding: 1em;
  box-sizing: border-box;
  .new-doc {
    position: relative;
    width: 100%;
    padding: 1em;
    font: 300 1em sans-serif;
    color: #000;
    text-decoration: none;
    background: #fefefeed;
    border-radius: 4px;
    display: block;
    box-sizing: border-box;
    &:hover {
      background: var(--accent);
      color: var(--accent-complement);
    }
  }
  .collection{
    display: flex;
    margin-top: 1em;
    #empty {
      width: 100%;
      padding: 15em 0;
      display: inline-block;
      text-align: center;
      border-radius: 12px;
      font: 300 1em sans-serif;
      color: #888888;
    }
    .document {
      position: relative;
      padding: 1em;
      background: #ffffffad;
      border: 1px solid transparent;
      border-radius: 4px;
      box-sizing: border-box;
      color: #000;
      text-decoration: none;
      p {
        font-size: 1.2em;
        font-family: sans-serif;
        font-weight: 300;
        margin: 0;
        &.shared {
          font-size: 0.6em;
        }
      }
      &:hover {
        border-color: var(--accent);
        background-color: var(--accent-light);
      }
    }
    .document + .document{
      margin-left: 1em;
    }
  }
}
.popup {
  position: fixed;
  top: 50vh;
  left: 50vw;
  width: 280px;
  height: 140px;
  padding: 12px;
  color: var(--text);
  box-sizing: border-box;
  margin-top: -140px;
  margin-left: -140px;
  border-radius: 6px;
  background-color: var(--ctx);
  box-shadow: 0px 10px 32px #0004;
  -webkit-backdrop-filter: blur(20px);
  h1{
    margin: 0.2em 0px;
  }
  input {
    width: 100%;
    box-sizing: border-box;
    padding: 6px;
    background-color: #fffc;
  }
  .choices {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    margin-top: 6px;
    a {
      font: 500 0.8em sans-serif;
      padding: 6px;
      border-radius: 4px;
      background-color: var(--ctx-o);
      box-sizing: border-box;
      border: none;
      margin: 0;
      color: var(--ctx-ot);
      &.default{
        text-decoration: none;
        color: var(--accent-complement);
        background-color: var(--accent);
        &:hover{
          background-color: var(--accent-glow);
        }
      }
      &.disabled {
        background-color: var(--accent-rot);
        color: var(--faint-text);
      }
    }
  }
}
