body{
  margin: 0;
}
.touch.visualizer{
  position: relative;
  top: calc(50vh - 12.5vw);
  width: 25vw;
  height: 25vw;
  margin: auto;
  .button{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: hsl(12, 100%, 50%);
    background-image: linear-gradient(180deg, #fff 0%, #888 100%);
    background-blend-mode: overlay;
    border-radius: 100%;
  }
  .text{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font: 500 3em sans-serif;
    line-height: 25vw;
    text-align: center;
  }
  .decoration {
    position: absolute;
    width: calc(100% + 40px);
    height: calc(100% + 40px);
    top: -20px;
    left: -20px;
    border-radius: 100%;
    background-color: hsl(12, 100%, 50%);
    background-image: conic-gradient(#333, #fff);
    background-blend-mode: overlay;
    z-index: -1;
  }
  &.inflated{
    .decoration{
      animation: spin linear 2s infinite;
    }
  }
}
@keyframes spin {
  0%{transform: rotate(0deg);}
  100%{transform: rotate(360deg);}
}
